.about
  .section
    margin: 2em 0 7em 0
    text-align: center
    h2
      text-align: center
      max-width: 800px
      line-height: 1.4em
      letter-spacing: 2px
      auto-margin()
    p
      auto-margin()
      text-align: center