scale = 0 400px 600px 700px 1080px

text-small = 11px
text-normal = 1em
text-semimedium = 1.5em
text-medium = 2em
text-semibig = 3em
text-big = 4em

site-width = 1280px

color-black = #000
color-grey = #444953

font-main = 'Atlas Typewriter Web'
font-heading = 'Druk XCond Web'
font-heading-wide = 'Druk Wide Web'
