extends ../layouts/default
block content
  .about
    .section
      h2 VI PRODUCERAR FILM OCH ANIMATION SOM FÅR MÄNNISKOR ATT ENGAGERA SIG
      p Forage single-origin coffee American Apparel pour-over, drinking vinegar gluten-free beard synth blog aesthetic chia slow-carb farm-to-table kitsch. Semiotics drinking vinegar kogi Banksy chillwave heirloom hashtag jean shorts, occupy fanny pack Intelligentsia try-hard Shoreditch. Irony PBR pickled banh mi tattooed. Banjo photo booth Marfa chambray. Fanny pack swag letterpress occupy, Etsy squid pork belly irony paleo slow-carb pop-up bitters 3 wolf moon. Four loko YOLO gluten-free, blog hoodie American Apparel mumblecore deep v twee whatever biodiesel ennui you probably haven't heard of them. IPhone Thundercats vinyl jean shorts +1 8-bit, Austin selvage seitan gentrify blog freegan brunch.

    .section
      h2 Hur vi arbetar
      img(src='http://www.placekitten.com/700/400')

    .section
      h2 Så här borde allt fungera
      p Roof party semiotics slow-carb McSweeney's, Neutra raw denim Wes Anderson post-ironic fashion axe. Church-key kogi swag pop-up. Skateboard locavore dreamcatcher plaid, iPhone kitsch YOLO selvage twee cornhole Odd Future. 90's Wes Anderson Blue Bottle pork belly flannel farm-to-table. Actually paleo kale chips mumblecore, lomo Echo Park Marfa mlkshk raw denim 3 wolf moon you probably haven't heard of them cardigan McSweeney's. Meggings 8-bit keffiyeh, McSweeney's Marfa umami jean shorts Portland. Hella viral cardigan, cliche 8-bit biodiesel Brooklyn four loko sartorial meggings tattooed art party.
    .section.clients
      h2 Kunder
