.wrapper
  footer.footer: .footer-content
    .footer-address
      .footer-logo
      p Kungsgatan 42 <br>111 35 Stockholm
    .footer-share
      a.footer-share-link(href='http://instagram.com/reformstudios')
        | <img src='/img/instagram.png' width='32px'>
      a.footer-share-link(href='https://www.facebook.com/ReformStudiosFilm')
        | <img src='/img/facebook.png' width='32px'>
